*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.signupContainer{
    background-color: #fcfffd;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.7fr 3fr 1.8fr;
}
.sparkLogo{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    padding-top: 1.9em;
    padding-left: 1.9em;
}
.sparkLogo img:nth-child(1){
    width: 1.6em;
    height: 1.6em;
    margin-right: 0.3em;
}
.sparkLogo img:nth-child(2){
    width: 5em;
    height: 1.2em;
   margin-right: 0.3em;


}
.sideWoman{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: antiquewhite;
    object-fit: contain;
}
.sideWoman img{
    width: 100%;
    height: 100%;
}
.formContainer{
    height: 100%;
    padding-top: 3.1em;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer h1{
    font-size: 2.4rem;
    font-weight: 900;
    color: #000000;
    margin-bottom: 0.6em;
    text-align: center;
}
.formContainer p{
    font-size: 0.7rem;
    font-weight: 500;
    color: #676B5F;
    text-align: center;
}
.loginForm{
    height:25em;
    width: 70%;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.9em;
}
.loginForm label{
    display: none;
    visibility: hidden;
}
.passwordField{
   position: relative;
   margin-bottom: 1.4em;
}
.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.loginForm input{
    width: 100%;
    background-color: #EFF0EC;
    color: #676B5F;
    padding: 0.9em 1.2em;
    /* margin-bottom: 1.4em; */
    border: none;
    border-radius: 0.7em;
    font-size: 0.9rem;
    font-family: Poppins;
}
.loginForm input:focus{
    outline: none;
    border: 0.1em solid #a3a4a4;
}
.loginForm button{
    background-color: #E0E2D9;
    margin-top: 35px;
    color: #A8AAA2;
    padding: 0.9em  1.2em;
    border: none;
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 2.1em;
    margin-bottom: 2.1em;
}
.loginButton:active {
    transform: scale(0.95); 
    transition: transform 0.1s ease-in-out;
  }
  .errorText {
    color: red !important;
    font-size: 12px;
    margin-top: 0px !important;
    text-align: left !important;
  }

/* ====================== */
.Toastify__toast,
.customToast,
.Toastify__toast-body {
  height: 3.75em !important;
  min-height: 3.75em !important;
  min-width: 21.875em !important;
  width: auto !important;
  display: flex;
  align-items: center;
}

.customToast {
    background-color: #FF003D !important; 
    color: white !important;
    border-radius: 8px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  .toastContent {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0;
  }
  .toastIcon {
    width: 20px; 
    height: 20px;
  }
  .closeBtn {
    background: transparent;
    border: none;
    color: white;
    font-size: 19px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
 /* ========================================================== */
 /* =========================================================== */
 /* ============================================================ */
 /* ============================================================= */
   
 @media (max-width: 375px) {
    .sideWoman{
      display: none;
      visibility: hidden;
    } 
    .signupContainer{
        width: 95%;
        height: auto;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
     }
     .formContainer {
        height: auto;
     }
     .formContainer h1{
        font-size: 1.9rem;
        font-weight: 800;
        margin-bottom: 1.7rem;
    }
    .sparkLogo{
        padding-top: 1.6em;
        padding-left: 0.6em;
    }
    .loginForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .loginForm label{
        font-size: 0.9rem;
        margin-bottom: 0.4em;
        color: #666666;
        display: block;
        visibility: visible;
    }
    .loginForm input{
        background-color: white;
        color: #676B5F;
        padding: 0.9em 1.2em;
        margin-bottom: 1.4em;
        border: 1px solid rgb(189, 187, 187);
        border-radius: 0.7em;
        font-size: 0.9rem;
        font-family: Poppins;
    }
    .loginForm input::placeholder{
        color: transparent;
    }
    .loginForm button::after{
        content: "Sign in";
        color: #FFFFFF;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .loginForm button{
        color: transparent;
        position: relative;
        background-color: #28A263;
    }
    .formContainer p{
        font-size: 0.5rem;
        font-weight: 500;
        color: #676B5F;
        text-align: center;
    }
    #pOne{
        font-size: 12px !important;
    }
    #pTwo{
        font-size: 11px !important;
    }
    #span{
        font-size: 12px !important;
    }
    
    
}
  